<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.analytiq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CouponBearingBond"></activity>
        <activity android:name=".activity.UnitConverter" />
        <activity android:name=".activity.LinearEquation" />
        <activity android:name=".activity.CriticalValue" />
        <activity android:name=".activity.SingleCurrency" />
        <activity android:name=".activity.CurrencyConversion" />
        <activity android:name=".activity.ProportionActivity" />
        <activity android:name=".activity.ProfitActivity" />
        <activity
            android:name=".activity.LCM_HCF"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Main2Activity"
            android:parentActivityName=".activity.MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DividendThreeStageModel"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DividendTwoStageMode"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EffectiveDuration"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IncomeTax"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegressionActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EMICalculation"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FactorialPower"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MeanVarianceSD"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DurationInYears"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZeroGrowthActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DividedBasedActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConstantGrowthActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VarActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DiscountingFactor"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CorrelationActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YTMActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NormalDistriWithMean"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NormalDistriActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NPVText"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DepText2"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DepText1"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NPVIRRActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DepreciationWrittenDown"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DepreciationStraightLine"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashFlow"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MensurationActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompoundInterest"
            android:parentActivityName=".activity.MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SimpleInterest"
            android:parentActivityName=".activity.MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPassword"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Signup_Form"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login_Form"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>